@model Note

<a asp-action="Index">Back</a>
<h2>Note Details</h2>

<ul>
    <li><strong>Title: </strong>@Model.Title</li>
    <li><strong>Content: </strong>@Model.Content</li>
    <li><strong>Date:  </strong>@Model.CreatedAt</li>
</ul>

<a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>