@model Note

<h2>Not Güncelle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <input type="text" asp-for="Title"/>
    <input type="text" asp-for="Content"/>
    <button type="submit">Güncelle</button>
</form>