@model List<Note>


<a asp-action="Create">Add New Note</a>
<h2>Notes</h2>
<table>
    <thead>
        <tr>
            <th>Header</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var not in Model)
        {
            <tr>
                <td>@not.Title</td>
                <td><a asp-action="Detail" asp-route-id="@not.Id">Detail</a></td>
                <td><a asp-action="Edit" asp-route-id="@not.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

